:root {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    max-width: 100%;
}